body {
    display: flex;
    flex-direction: column; /* This line is added */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(41, 39, 49);
}

canvas {
    border: 1px solid #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas:focus {
    outline: none;
}

#gridCanvas {
    display:none;
}

h2 {
    color: white;
    font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with your chosen font */
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

@font-face {
    font-family: 'GemunuLibre-Bold';
    src: url('./public/gemunulibre-bold-webfont.woff') format('woff2'),
         url('./public/gemunuLibre-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
font-family: 'GemunuLibre-Medium';
src: url('./public/gemunulibre-medium-webfont.woff') format('woff2'),
        url('./public/gemunulibre-medium-webfont.woff2') format('woff');
font-weight: 500; /* or 'medium' */
font-style: normal;
}

@font-face {
font-family: 'RussoOne-Regular';
src: url('./public/russoone-regular-webfont.woff2') format('woff2'),
        url('./public/russoone-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

